{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Meteorology</h1>
</div>

<div ng-app="app" ng-controller="ctrl">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Time step</label>
                <select class="form-control"
                        data-ng-model="ctrl.timeStep"
                        data-ng-options="x for x in ctrl.timeStepOptions"></select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Date from</label>
                <div class="input-group"
                     moment-picker="ctrl.timeFrom"
                     min-date="ctrl.minDate"
                     max-date="ctrl.maxDate"
                     format="YYYY-MM-DD">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                    <span class="form-control"
                          data-ng-model-options="{ updateOn: 'blur' }">
                        {{'ctrl.timeFrom || "Select a date"'|angular}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Date to</label>
                <div class="input-group"
                     moment-picker="ctrl.timeTo"
                     min-date="ctrl.minDate"
                     max-date="ctrl.maxDate"
                     format="YYYY-MM-DD">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                    <span class="form-control"
                          data-ng-model-options="{ updateOn: 'blur' }">
                        {{'ctrl.timeTo || "Select a date"'|angular}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <a class="btn btn-primary"
                   style="vertical-align: baseline"
                   data-ng-click="ctrl.loadData()">Load</a>
                <span class="text text-info" data-ng-hide="!ctrl.loadingData">Loading data...</span>
                <span class="text text-danger">{{'ctrl.errorMessage'|angular}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-3" data-ng-click="ctrl.orderBy('[0]')">
                            Time
                            <i class="fa fa-caret-down pull-right" data-ng-show="ctrl.orderByProperty == '[0]' && !ctrl.reverse"></i>
                            <i class="fa fa-caret-up pull-right" data-ng-show="ctrl.orderByProperty == '[0]' && ctrl.reverse"></i>
                        </th>
                        <th class="col-md-6" data-ng-click="ctrl.orderBy('[1]')">
                            Temperature
                            <i class="fa fa-caret-down pull-right" data-ng-show="ctrl.orderByProperty == '[1]' && !ctrl.reverse"></i>
                            <i class="fa fa-caret-up pull-right" data-ng-show="ctrl.orderByProperty == '[1]' && ctrl.reverse"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in ctrl.data | orderBy:ctrl.orderByProperty:ctrl.reverse">
                        <td>{{'::item[0]'|angular}}</td>
                        <td>{{'::item[1]'|angular}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% compress 'js' %}
<script src="/static/scripts/index.js"></script>
{% endcompress %}

{% endblock %}
